* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(images/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Titillium Web', sans-serif;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	opacity: 0.4;
}

main {
	display: flex;
}

.formsCol {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	margin-top: 40px;
}

.forms {
	width: 60%;
	text-align: center;
}

.formTitle {
	font-size: 32px;
	color: white;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

form {
	display: flex;
	flex-direction: column;
	background: rgb(244, 244, 244);
	-webkit-box-shadow: 0px 0px 0px 17px rgba(173, 173, 173, 0.6);
	-moz-box-shadow: 0px 0px 0px 17px rgba(173, 173, 173, 0.6);
	box-shadow: 0px 0px 0px 17px rgba(173, 173, 173, 0.6);
	margin-top: 30px;
	margin-bottom: 30px;
}

input[type=text],
input[type=password],
input[type=email] {
	width: 85%;
	background-color: rgb(246, 246, 246);
	color: black;
	padding: 10px 0px 10px 70px;
	border: 1px solid rgb(198, 198, 198);
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	margin-top: 24px;
	align-self: center;
}

input[type=submit] {
	width: 85%;
	align-self: center;
	background: linear-gradient(rgb(163, 216, 64), rgb(126, 196, 31));
	font-size: 24px;
	text-shadow: 2px 2px 3px rgb(84, 75, 81);
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	border: 1px solid rgb(59, 154, 0);
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.longMessage input[type=text] {
	padding: 5px 0 250px 5px;
}

.user_thumb {
	background: url(images/icon-person.png) no-repeat left;
}

.mail_thumb {
	background: url(images/icon-envelop.png) no-repeat left;
}

.pass_thumb {
	background: url(images/icon-lock.png) no-repeat left;
}

.location_thumb {
	background: url(images/icon-location.png) no-repeat left;
}

.phone_thumb {
	background: url(images/icon-phone.png) no-repeat left;
}

.termConditions {
	display: flex;
	font-size: 17px;
	justify-content: left;
	align-items: center;
	color: gray;
	padding-top: 10px;
	padding-left: 41px;
	
}
input[type=checkbox]{
	display:none;
}
input[type=checkbox] + label{
	position:relative;
	padding-left: 30px;
	
}
input[type=checkbox] + label:before{
	position: absolute;
	content:"";
	display:block;
	width:16px;
	height: 16px;
	top: 3px;
	left: 0;
	cursor:pointer;
	transition: all .3s ease;
	background-color: rgb(241, 244, 244);
	border: 3px solid rgb(215, 215, 215);
	border-radius: 5px;

}

input[type=checkbox]:checked + label:before{
	background-color: rgb(134, 199, 19);

}






.rejection {
	background: linear-gradient(rgb(246, 94, 112), rgb(240, 55, 71));
	border: 1px solid rgb(167, 44, 54);
	width: 45%;
	font-size: 18px;
	text-shadow: 2px 2px 3px rgb(84, 75, 81);
	color: white;
	padding: 10px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.rowBtns {
	display: flex;
	justify-content: space-between;
	width: 85%;
	align-self: center;
}

.rowBtns .disabledBtn {
	background: linear-gradient(rgb(198, 225, 166), rgb(171, 209, 130));
	border: 1px solid rgb(196, 223, 162);
	cursor: not-allowed;
}

.rowBtns input[type=submit] {
	padding: 10px 10px;
	font-size: 18px;
	width: 45%;
	border-radius: 5px;
}

.signInContainer{
	display:flex;
}
.signInContainer .termConditions{
	position: relative;
	width:45%;
	top: -10px;

	
}
.signInContainer .submitBtn{
	position: relative;
	width: 40%;
	left: 7.5%;
}

.logo {
	opacity: 0.4;
	margin-bottom: 30px;
}

/*Responsiveness*/

@media screen and (max-width:1000px){
    main{
		flex-direction: column;
		align-items: center;
/*justify-content: center;*/
	}
	.formsCol{
		width:90%;
	}
	.forms{
		width: 80%;
	}
}
@media screen and (max-width:475px){
	header img {
		transform:scale(0.7);
	}
	.termConditions{
		font-size: 14px;
		padding-left: 10px;
	}
	.signInContainer .submitBtn{
		font-size: 20px;
	}

	.subForm input[type=submit], .subForm button{
		font-size : 11px;
	}
	.logo{
		transform:scale(0.7);
	}

}