* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	background-image: url(images/background.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	font-family: 'Titillium Web', sans-serif;
}

header {
	width: 100%;
	display: flex;
	justify-content: center;
	margin-top: 50px;
	opacity: 0.4;
}

main {
	display: flex;
}

.formsCol {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	width: 50%;
	margin-top: 40px;
}

.forms {
	width: 60%;
	text-align: center;
}

.formTitle {
	font-size: 32px;
	color: white;
	margin-bottom: 20px;
	letter-spacing: 1px;
}

form {
	display: flex;
	flex-direction: column;
	background: rgb(244, 244, 244);
	-webkit-box-shadow: 0px 0px 0px 17px rgba(173, 173, 173, 0.6);
	-moz-box-shadow: 0px 0px 0px 17px rgba(173, 173, 173, 0.6);
	box-shadow: 0px 0px 0px 17px rgba(173, 173, 173, 0.6);
	margin-top: 30px;
	margin-bottom: 30px;
}

input[type=text],
input[type=password],
input[type=email] {
	width: 85%;
	background-color: rgb(246, 246, 246);
	color: black;
	padding: 10px 0px 10px 70px;
	border-radius: 5px;
	font-size: 16px;
	outline: none;
	margin-top: 24px;
	align-self: center;
}

input[type=submit] {
	width: 85%;
	align-self: center;
	background-color: rgb( 127, 196, 31);
	font-size: 24px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.longMessage input[type=text] {
	padding: 5px 0 250px 5px;
}

.user_thumb {
	background: url(images/icon-person.png) no-repeat left;
}

.mail_thumb {
	background: url(images/icon-envelop.png) no-repeat left;
}

.pass_thumb {
	background: url(images/icon-lock.png) no-repeat left;
}

.location_thumb {
	background: url(images/icon-location.png) no-repeat left;
}

.phone_thumb {
	background: url(images/icon-phone.png) no-repeat left;
}

.termConditions {
	display: flex;
	font-size: 17px;
	justify-content: center;
	align-items: center;
}

.rejection {
	background-color: rgb(240, 55, 71);
	border: 1px solid rgb(167, 44, 54);
	width: 85%;
	align-self: center;
	font-size: 24px;
	color: white;
	padding: 15px 10px;
	margin-top: 20px;
	margin-bottom: 30px;
	border-radius: 5px;
	cursor: pointer;
	letter-spacing: 2px;
	outline: none;
}

.disabledBtn input[type=submit] {
	background: rgb(196, 223, 162);
	cursor: not-allowed;
	padding: 15px 10px;
	width: 85%;
}

.rowBtns {}

.logo {
	opacity: 0.4;
}
